<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>beBisht</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/font-awesome.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  </head>
  <body>
  <header style="position: relative;">
  <nav class="navbar navbar-custom margin0" id="myNav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="" >
      <ul class="nav navbar-nav">
        <li><a href="#homeUs" class="active links">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#details" class="links">about</a></li>
        <li><a href="#design" class="links">work</a></li>
        <li><a href="#testimonial" class="links">testimonial</a></li>
        <li><a href="#contact" class="links">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
 <span class="spanOne " id="checks"><span class="one"></span><span class="two"></span><span class="three"></span></span>
</nav>


</header>
<clearfix></clearfix>
<section>
<div class="section" id="homeUs">
    <div class="topTittle">
      <div class="col-md-12 tittleName">
          <h1 class="hOnemini"> Hi </h1> <h1 class="hOne"> I<span class="tittleMinLine">'</span>m <span class="tittleLine">BeBisht</span> </h1>
      </div>
      <p class="text-center"> Web <strong>UI/UX Designer</strong> and <strong>Front End Developer</strong> Based in New Delhi, INDIA.
Take a look at some of my <strong>works</strong>, and if you like them, feel free to contact me.
Let’s create something <strong>WOW!</strong></p>
    </div>
    <div class="viewMore">
    <a href="../bebisht.github.io/work/work.html"><button class="btn btn-info">VIEW MY WORKS</button></a>
    </div>
  </div>
  </section>
  <section id="details">
  <div class="aboutSection posrel details">
    <div class="col-md-12">
        <div class="tabPanel">
        <div class="detail">
        <h1 class="detailHeading posrel">DETAILS</h1>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
        <div class="tabPanelStart tabPanelArea">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs navbar-right offset2x " role="tablist">
          <li role="presentation" class="active"><a href="#one" aria-controls="home" role="tab" data-toggle="tab">bio</a></li>
          <li role="presentation"><a class="skills" href="#two" aria-controls="profile" role="tab" data-toggle="tab">Skills</a></li>
          <li role="presentation"><a href="#three" aria-controls="messages" role="tab" data-toggle="tab">Experience</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active myTab slideInTab" id="one">
          <p>I'm Ajay Singh Bisht India based <strong>UI/UX/Web Designer</strong> and <strong>Front-End Developer</strong>.
          </p>
          <p>I am a Creative Front End Designer & Developer, UI Designer & Developer, Web Design specialized in Creative conceptualizing,
              innovative and elegant design for Web & Responsive Web Designs & Development,
              Application User Interface with over 2.5 years of experience as per current market trend. <br/><br/>
              I love the web and everything about it, and designing sites and applications is truly my passion. Designing and Development
              is not even a job for me, as it is what I really love. I always aim for near-perfection and loved designing simple solutions for larger problems.</p>

          <div class="col-md-6"></div>
          </div>
          <div role="tabpanel" class="tab-pane offsetbottom50" id="two">
            <div class="bar myProgressBar">
                <div class="progress">
                  <div class="progress-bar posrel" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    <span class="ski">Photoshop</span>70%
                  </div>
                </div>

              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:90%;">
                    <span class="ski">Adobe XD</span>90%
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                  <span class="ski">Illustrator</span>30%
                  </div>
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    <span class="ski">Website Design</span>70%
                  </div>
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="ski">UI / UX</span>60%
                  </div>
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    <span class="ski">Mobile Apps</span>70%
                  </div>
                </div>

                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:73%;">
                  <span class="ski">XHTML / HTML5 / CSS3</span>80%
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                    <span class="ski">Responsive Design</span>70%
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                    <span class="ski">Jquery / Javascript</span>30%
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="ski">Github</span>60%
                  </div>
                </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="ski">Dedication</span>100%
                  </div>
                </div>
            </div>

          </div>
        <div role="tabpanel" class="tab-pane" id="three" ng-controller="myCntrl">
          <ul class="list-group startUp">
            <li class="list-group-item" ng-repeat="data in dataList">
            <div class="col-md-2 col-sm-6 col-xs-4"><img ng-src="{{data.image}}"></div>
            <div class="col-md-10 col-sm-6 col-xs-8">
            <div class="col-md-12 col-sm-12 col-xs-12 tittle noPadding"><strong>{{ data.tittle}}</strong></div>
            <div class="col-md-12 col-sm-12 col-xs-12 deg noPadding">{{ data.content}}</div>
            </div>
            </li>
          </ul>
        </div>
        </div>

      </div>
       </div>
    </div>
  </div>
 </div>
 </section>
 <section id="design">
  <div class="designSection aboutSection posrel" ng-controller="myImgCntrl">
      <div class="col-md-12">
          <div class="detail offsetbottom50">
            <h1 class="detailHeading posrel">DESIGNS</h1>
            </div>
      </div>
      <div class="col-md-offset-1 col-md-10 noPadding slideHide">
        <div class="col-md-4" ng-repeat="data in dataList">

        <img ng-src="{{ data.img }}" class="myimg" id="">
        <div class="anchor" id="anchor">
           <div class="contentWrapper">
              <a href="{{ data.urls }}"> {{ data.tittle }}
                <div class="wraps"> {{data.subtittle}}</div>
              <img src="img/logo2.png" style="width: 80px;">
           </a>
          </div>
        </div>
        </div>
        </div>
      </div>
  </section>

  <section id="testimonial" class="posrel">
  <div class="testimonialSection aboutSection posrel">
      <div class="col-md-12">
          <div class="detail offsetbottom50">
            <h1 class="detailHeading posrel detailTest">TESTIMONIALS</h1>
            </div>
      </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <p>
    "Awesome to work with. Incredibly organized, easy to communicate with, responsive with next iterations, and beautiful work"
    </p>
    <span>
    Mohit Soni- Senior UI Designer
    </span>
    </div> <!--
     <div class="item">
     <p>

    Impressive communicate and response rate. If you don't have time and need things done urgent,
Rakesh is there. Fast work with good quality!
    </p>
    <span>
    Khaled M - Community Manager at Nabbesh
    </span>
    </div>
    <div class="item">
     <p>
    I have used Rakesh for quite a few projects now and the quality is always excellent, and projects are delivered on time, every time. Keep up the great work. I am extremely happy with Rakesh and would definitely recommend his services to others.
    </p>
    <span>
   Marwan Oklah - Managing Director at Cooltribes
    </span>
    </div>
      <div class="item">
     <p>

    "Rakesh has been absolutely great in terms of support and completing high level Creative User Interfaces and HTML works for past 4 years now. Communicating with him is very efficient and jobs have always been delivered on time. I am extremely happy with his work ethics and would definitely recommend his services to others. I look forward to carrying on our working relationship."
    </p>
    <span>
    arendranath - Managing Director at Corplin
    </span>
    </div>
     <div class="item">
     <p>

    Impressive communicate and response rate. If you don't have time and need things done urgent,
Rakesh is there. Fast work with good quality!
    </p>
    <span>
    Khaled M - Community Manager at Nabbesh
    </span>
    </div> -->
  </div>
      </div>
     </div>
  </section>

  <section id="contact" class="posrel">
      <div class="contactHeading aboutSection posrel">
      <div class="col-md-12">
          <div class="detail offsetbottom50">
            <h1 class="posrel">Contact Me</h1>
            </div>
      </div>
<div class="col-md-12 contactDetails socialContact">
      <div class="col-md-4 text-right">
          <strong><span class="mail"></span>bishtajaysingh@yahoo.com</strong>
      </div>

      <div class="col-md-4 text-center">
          <strong><span class="skype"></span>bebisht</strong>
      </div>

      <div class="col-md-4 text-left">
          <strong><span class="whatsapp"></span>(+91) 8800790408</strong>
      </div>
    </div>

  <div class="col-md-12 offsettop50">
      <div class="social">
          <a href="https://www.facebook.com/bebisht" class="a"></a>

          <a href="https://www.linked.in/bebisht" class="aa"></a>

          <a href="https://www.dribbble.com/bebisht" class="aaa"></a>

          <a href="https://www.twitter.com/bebisht" class="aaaa"></a>

          <a href="https://www.instagram.com/bebisht" class="aaaaa"></a>
          <a href="https://www.google.com/bethebisht" class="aaaaaa"></a>
      </div>
  </div>

    <div class="col-md-12 offsettop50">
      <div class="stayConnected">
    <button class="btn btn-info">STAY CONNECTED</button>
    </div>
    </div>

    <div class="col-md-12 offsettop50">
    <p class="lead white marginnone">© Copyright 2016 Ajay's personal portfolio</p>
    </div>
  </div>
  </section>

  </body>


</div>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/function.js"></script>
   </body>

</html>
