body {
	color: #ddd;
	margin:  0 auto;
	background-size: cover;
	background-attachment: fixed !important;
}
.nextScreen a {
	padding: 14px 20px;
	background: #812d60;
	border-radius: 4px;
	box-shadow: 1px 3px 5px 3px rgba(80, 80, 80, 0.35);
	color: #FFF;
	top: 23px;
	position: relative;
}
.tags {
	position: relative;
}
.nextScreen a:hover {
	text-decoration: none;
}
.tags img {
	position: absolute !important;
	left: 0;
}
.myGroup a {
	text-align: left;
}
.listStyle {
	width: 240px !important;
}
.LG {
	position: absolute;
	top: 69px;
	left: 0;
}
.topR {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	z-index: 2;
	color: #fff;
	background-color: #b4b4b4;
	border-color: #ddd;
	font-weight: 700;
}
.list-group {
	box-shadow: 4px 3px 9px 1px rgba(0, 0, 0, 0.35);
}
